<h2>Web Blackjack</h2>
Hi <%=session[:player_name]%>.  You have $<%=session[:bank]%>.  How much would you like to bet?
<br/>
<br/>
<form action='/set_bet' method='post'>
  Bet: <input type='Bet' name='bet'/>
  <br/><br/>
  <input type='submit' class='btn btn-primary'>
</form>