<h2>Web Blackjack</h2>

Welcome to the Blackjack table.  What is your name?
<br/>
<br/>
<form action='/set_name' method='post'>
  Name: <input type='text' name='player_name'/>
  <br/><br/>
  <input type='submit' class='btn btn-primary'>
</form>


